.gameLog {
  width: 600px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: wrap;
  border: 1px solid black;
  margin: auto;
  text-align: left;
  padding: 5px;
}

body {
  background-color: #222222;
  color: #ffffff;
}
