/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  
  .container {
    width: auto;
    padding: 0 15px;
   
  }

  .input-pair-container {
    display: flex;
    width: 100%;
  }
  .left-pair-element {
    flex-grow: 1;
    margin-right: 10px;
  }

  td {
    padding: 5px;
  }

  .w100 {
    width: 100%;
  }
  .w90 {
    width: 90%;
  }
  .w80 {
    width: 80%;
  }
  .w70 {
    width: 70%;
  }
  .w60 {
    width: 60%;
  }
  .w50 {
    width: 50%;
  }
  .w40 {
    width: 40%;
  }
  .w30 {
    width: 30%;
  }
  .w20 {
    width: 20%;
  }
  .w15 {
    width: 15%;
  }
  .w10 {
    width: 10%;
  }

  #editor {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 300px auto;
    width: 100%;
  }

  #elementSelection {
    height: 100vw;
    grid-area: sidebar;
  }

  #elementEditor {
    padding: 15px;
    height: 100vw;
    grid-area: main;
  }